input {
    width: 100%;
}

textarea {
    width: 100%;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

.url-bar {
    display: flex;
    margin: 16px 0;
}

body {
    padding: 16px;
}

#console {
    border: 0;
}