/* stylelint-disable no-descending-specificity */
header {
  padding: var(--spacing-m) var(--horizontal-spacing);
}

header a:any-link {
  color: currentcolor;
  text-decoration: none;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header section {
  display: grid;
  grid-template:
    'title hamburger' auto
    'sections tools' 1fr / 1fr auto;
  align-items: center;
  gap: 0 var(--horizontal-spacing);
  max-width: 1200px;
  height: 0;
  margin: 0 auto;
  transition: height 0.6s;
  animation-timing-function: ease-in;
}

header section[data-expanded='true'] {
  grid-template:
    'title hamburger' auto
    'sections sections' auto
    'tools tools' 1fr / 1fr auto;
  gap: var(--horizontal-spacing);
  height: calc(100dvh - (2 * var(--spacing-m)));
  max-height: calc(100dvh - (2 * var(--spacing-m)));
}

header section > [aria-hidden='true'] {
  display: none;
}

@media (width >= 900px) {
  header section[data-expanded='true'] {
    grid-template:
      'title sections tools' auto / auto 1fr auto;
    height: 0;
  }
}

/* title */
header .nav-title {
  grid-area: title;
}

header .nav-title .title-content {
  margin: 0;
  font-size: var(--title-size-l);
  font-weight: var(--weight-bold);
}

/* sections */
header .nav-sections {
  grid-area: sections;
}

header .nav-sections nav ul {
  display: flex;
  flex-direction: column;
  gap: 1ch;
  font-size: var(--body-size-m);
}

header .nav-sections nav > ul > li > a,
header .nav-sections button,
header .nav-sections button + ul > li a {
  display: block;
  width: 100%;
  border-radius: 0.5em;
  padding: 0.3em 0.75em;
  background-color: transparent;
  text-align: left;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}


header .nav-sections nav ul li a:hover,
header .nav-sections nav ul li a:focus,
header .nav-sections button:hover,
header .nav-sections button:focus {
  background-color: var(--gray-100);
  text-decoration: none;
}

header .nav-sections button[aria-expanded='true'] {
  background-color: var(--color-text);
  color: var(--color-background);
}

header .nav-sections button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5ch;
  padding-right: 0.5em;
  white-space: nowrap;
}

header .nav-sections button + ul {
  margin-top: 1ch;
}

header .nav-sections button + ul > li a {
  display: block;
  padding-left: calc(var(--spacing-m) + 0.75em);
}

header .nav-sections i.symbol-chevron {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0.15em;
  background-color: transparent;
  transition: transform 0.2s;
}

header .nav-sections [aria-expanded='true'] i.symbol-chevron {
  transform: rotate(-180deg);
}

header .nav-sections [aria-expanded='false'] + ul {
  display: none;
}

header .nav-sections i.symbol-chevron::after {
  top: 4px;
  left: 5.25px;
  width: calc(100% - (4 * 0.15em));
  height: calc(100% - (4 * 0.15em));
  border: 2px solid currentcolor;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(135deg);
}

@media (width >= 900px) {
  header .nav-sections nav ul {
    display: flex;
    flex-direction: row;
  }

  header .nav-sections .subsection {
    position: relative;
  }
  
  header .nav-sections .subsection button + ul {
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 100%;
    min-width: calc(100% + var(--horizontal-spacing));
    border-radius: 0.5em;
    padding: 0.5em 0;
    background-color: var(--color-background);
    box-shadow: var(--shadow-default);
  }

  header .nav-sections .subsection button + ul::before {
    content: '';
    position: absolute;
    top: -8px;
    right: calc(var(--horizontal-spacing) + 0.3em);
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid var(--color-background);
    z-index: 2;
  }

  header .nav-sections .subsection button + ul > li a {
    display: block;
    border-radius: 0;
    padding-left: 0.75em;
  }
}

/* tools */
header .nav-tools {
  grid-area: tools;
  align-self: flex-start;
  line-height: 0;
}

header .nav-tools p {
  margin: 0;
}

header .nav-tools a.button {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  border-color: transparent;
  border-radius: 50%;
  padding: 0.4em;
  background-color: transparent;
  transition: background-color 0.2s;
  cursor: pointer;
}

header .nav-tools a.button:hover {
  background-color: var(--gray-100);
  color: var(--color-text);
}

@media (width >= 900px) {
  header .nav-tools {
    align-self: center;
  }
  
  header .nav-tools p.button-wrapper {
    margin: 0;
  }
}

/* hamburger */
header .nav-hamburger {
  grid-area: hamburger;
}

header .nav-hamburger button {
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  padding: 0.4em;
  background-color: transparent;
  color: var(--color-text);
  transition: background-color 0.2s;
  cursor: pointer;
}

header .nav-hamburger button:hover,
header .nav-hamburger button:focus {
  background-color: var(--gray-100);
}
  
header .nav-hamburger i.symbol-hamburger,
header .nav-hamburger i.symbol-hamburger::before,
header .nav-hamburger i.symbol-hamburger::after {
  width: 100%;
  height: var(--border-m);
  background-color: currentcolor;
}

header .nav-hamburger i.symbol-hamburger {
  transition: background-color 0.2s;
}

header .nav-hamburger i.symbol-hamburger::before,
header .nav-hamburger i.symbol-hamburger::after {
  left: 0;
  width: 100%;
  height: var(--border-m);
  background-color: currentcolor;
  transform: rotate(0);
  transition: transform 0.4s, top 0.4s, bottom 0.4s;
}

header .nav-hamburger i.symbol-hamburger::before {
  top: -6px;
}

header .nav-hamburger i.symbol-hamburger::after {
  bottom: -6px;
}

header .nav-hamburger [aria-expanded='true'] i.symbol-hamburger {
  background-color: transparent;
}

header .nav-hamburger [aria-expanded='true'] i.symbol-hamburger::before {
  transform: rotate(45deg);
  top: 0;
}

header .nav-hamburger [aria-expanded='true'] i.symbol-hamburger::after {
  transform: rotate(-45deg);
  bottom: 0;
}
