:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: black;
  --success-color: rgb(0 136 0);
  --improve-color: rgb(255 170 51);
  --error-color: rgb(217 48 37);
}

main .analyze-container {
    /* avoid layout shift when results block is added */
    min-height: 80vh;

    /* buttons */
  a.button:any-link, button {
    font-family: var(--body-font-family);
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 5px 30px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
    color: var(--background-color);
    background-color: var(--link-color);
    margin: 16px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 30px;
  }
  
  a.button:hover, a.button:focus, button:hover, button:focus  {
    background-color: var(--link-hover-color);
    cursor: pointer;
  }
  
  button:disabled, button:disabled:hover {
    background-color: var(--light-color);
    cursor: unset;
  }
  
  a.button.secondary, button.secondary {
    background-color: unset;
    border: 2px solid currentcolor;
    color: var(--text-color)
  }
}

main .analyze form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 4fr 1fr;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin-inline: auto;

    .analyze-box-wrapper, .sitemap-box-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;

        label {
            border: 0 !important;
            clip: rect(1px, 1px, 1px, 1px) !important;
            clip-path: inset(50%) !important; 
            height: 1px !important;
            margin: -1px !important;
            overflow: hidden !important;
            padding: 0 !important;
            position: absolute !important;
            width: 1px !important;
            white-space: nowrap !important;
        }

        .analyze-box,.sitemap-box {
            padding: 0 16px;
            height: 48px;
            font-size: var(--body-font-size-s);
            font-family: inherit;

            &.visited:invalid {
                outline: 2px solid var(--error-color);
                
                + .input-error {
                    display: block;
                }
            }
        }

        /* stylelint-disable-next-line no-descending-specificity */
        .input-error {
            display: none;
            position: absolute;
            bottom: -2.25rem;
            left: 1rem;

            > p {
                font-size: .75rem;
                color: var(--error-color);
            }
        }
    }

    .sitemap-box-wrapper {
        display: none;
    }
    
    .sitemap-box-wrapper.visible {
        display: flex;
    }

    .force-wrapper, .sitemap-cbox-wrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        font-size: var(--body-font-size-xs);
    }

    
    .submit-wrapper {
        /* stylelint-disable-next-line no-descending-specificity */
        > button {
            border-radius: 4px;
            font-weight: 500;
            height: 48px;
            font-size: 1rem;
        }
    }
}
