:root {
  /* font sizes */
  --font-size-50: 13px;
  --font-size-75: 15px;
  --font-size-100: 17px;
  --font-size-200: 19px;
  --font-size-300: 22px;
  --font-size-400: 24px;
  --font-size-500: 27px;
  --font-size-600: 31px;
  --font-size-700: 34px;
  --font-size-800: 39px;
  --font-size-900: 44px;
  --font-size-1000: 49px;
  --font-size-1100: 55px;
  --font-size-1200: 62px;
  --font-size-1300: 70px;
  --font-size-1400: 79px;
  --font-size-1500: 88px;
  --font-size-1600: 99px;

  /* font weights */
  --weight-extrabold: 800;
  --weight-bold: 700;
  --weight-medium: 500;
  --weight-regular: 400;

  /* line heights */
  --line-height-l: 1.5;
  --line-height-m: 1.3;

  /* heading sizes */
  --heading-size-xxxxl: var(--font-size-1600);
  --heading-size-xxxl: var(--font-size-1300);
  --heading-size-xxl: var(--font-size-1100);
  --heading-size-xl: var(--font-size-900);
  --heading-size-l: var(--font-size-700);
  --heading-size-m: var(--font-size-500);
  --heading-size-s: var(--font-size-400);
  --heading-size-xs: var(--font-size-300);

  /* title sizes */
  --title-size-xxxl: var(--font-size-600);
  --title-size-xxl: var(--font-size-500);
  --title-size-xl: var(--font-size-400);
  --title-size-l: var(--font-size-300);
  --title-size-m: var(--font-size-200);
  --title-size-s: var(--font-size-100);
  --title-size-xs: var(--font-size-75);

  /* body sizes */
  --body-size-xxxl: var(--font-size-600);
  --body-size-xxl: var(--font-size-500);
  --body-size-xl: var(--font-size-400);
  --body-size-l: var(--font-size-300);
  --body-size-m: var(--font-size-200);
  --body-size-s: var(--font-size-100);
  --body-size-xs: var(--font-size-75);

  /* detail sizes */
  --detail-size-xl: var(--font-size-300);
  --detail-size-l: var(--font-size-200);
  --detail-size-m: var(--font-size-100);
  --detail-size-s: var(--font-size-75);
  --detail-size-xs: var(--font-size-50);
}

@media (width >= 900px) {
  :root {
    /* font sizes */
    --font-size-50: 11px;
    --font-size-75: 12px;
    --font-size-100: 14px;
    --font-size-200: 16px;
    --font-size-300: 18px;
    --font-size-400: 20px;
    --font-size-500: 22px;
    --font-size-600: 25px;
    --font-size-700: 28px;
    --font-size-800: 32px;
    --font-size-900: 36px;
    --font-size-1000: 40px;
    --font-size-1100: 45px;
    --font-size-1200: 51px;
    --font-size-1300: 58px;
    --font-size-1400: 65px;
    --font-size-1500: 73px;
    --font-size-1600: 82px;
  }
}
